.categoryField {
  position: relative;

  display: grid;
  grid-template-columns: 1fr auto;

  min-width: 288px;

  padding: .5rem;
  border-radius: 10px;

  background-color: #0e2216;
}

.categoryField * {
  color: var(--white-clr);
}

.categoryField>p {
  font-size: .9rem;
}

.categoryField__toggle,
.categoryField__toggle button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 1rem;

  font-size: 1.2rem;
}

.categoryField__toggle span {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

  max-width: 120px;

  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: .3rem;

  font-size: .9rem;
  font-style: italic;
}

.categoryField__toggle>button {
  border: none;
  border-left: 2px solid #6b8272;

  background: none;

  font-size: 1.2rem;
}

.categoryField__toggle>button>svg * {
  color: #6b8272;
}

.categoryField__items {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 30px;
  gap: .2rem;

  height: 110px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-inverse) #213120;

  padding-top: 1rem;
  padding-right: 5px;

  background-color: #0e2216;
}

.categoryField__items::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.categoryField__items::-webkit-scrollbar-track {
  background: #213120;
  border-radius: 10px;
}

.categoryField__items::-webkit-scrollbar-thumb {
  background-color: var(--accent-inverse);
  border-radius: 10px;
  border: 2px solid #213120;
}

.categoryField__items>button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  overflow-x: hidden;

  border-radius: 5px;
  border: none;
  padding: .2rem .5rem;

  background-color: #0e2216;

  font-size: .9rem;
  text-overflow: ellipsis;

  cursor: pointer;
}

.categoryField__items>button:hover {
  background-color: #173322;
}

.categoryField__items>button.active {
  background-color: var(--accent-primary);
  color: var(--black-clr);
  font-weight: 500;
}



/* CATEGORY ERROR */
.category__errorMsg {
  position: absolute;
  bottom: .5rem;

  color: rgb(238, 29, 29);
  font-size: .9rem;
}


/* CATEGORY SKELETON */
.category__skeleton {
  overflow: hidden;
  position: relative;

  height: 30px;
  width: 100%;

  margin-inline: auto;
  border-radius: 5px;

  background-color: rgb(109, 143, 120);
}

.category__skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(90deg,
      transparent,
      rgba(154, 189, 165, 0.5),
      transparent);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}