.login {
  margin-bottom: 100px;
  text-align: center;
}

.login__top {
  position: absolute;
  height: 200px;
  width: 100%;

  padding-top: 5rem;
  padding-bottom: 2rem;
  margin-inline: -1rem;

  background-color: var(--bg-primary);
}

.login__mainContent {
  position: relative;
  top: 120px;

  border-radius: 0 35px 0 0;
  margin-inline: -1rem;
  padding-inline: 1rem;

  background-color: var(--bg-inverse);
}

.login__formError {
  position: relative;
  top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;

  border-radius: 10px 10px 0 0;
  border-bottom: 3px solid rgb(236, 30, 30);
  margin-bottom: 1rem;

  background-color: rgba(236, 115, 115, 0.171);

  line-height: 1.1rem;
}

.login__form {
  padding-top: 1rem;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.form__btn {
  margin-top: 3rem;
}

.login__register {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.login__register p {
  color: var(--text-inverse);
  font-size: .9rem;
}

.register__btn {
  margin-top: .5rem;
}

@media screen and (min-width: 750px) {

  .login__top,
  .login__form {
    margin-inline: -2rem;
  }
}