.login {
  text-align: center;

}

.login__top {
  position: relative;

  height: 130px;

  border-radius: 0 0 0 25px;

  background-color: var(--bg-primary);
}

.login__top h2 {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
}

.login__formContainer {
  position: relative;
  isolation: isolate;

  padding: 1rem;
}
.login__formContainer::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  border-radius: 0 25px 0 0;

  background-color: var(--bg-inverse);
}
.login__formContainer::after {
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -2;

  height: 100px;

  background-color: var(--bg-primary);
}

.login__formError {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;

  border-radius: 10px 10px 0 0;
  border-bottom: 3px solid rgb(236, 30, 30);
  margin-bottom: 1.5rem;

  background-color: rgba(236, 115, 115, 0.171);

  line-height: 1.1rem;
}

.login__form,
.login__formError {
  max-width: 500px;

  margin-inline: auto;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.form__btn {
  margin-top: 3rem;
}

.login__register {
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding-inline: 1rem;

  background-color: var(--bg-inverse);
  width: 100%;
}

.login__register p {
  color: var(--text-inverse);
  font-size: .9rem;
}

.register__btn {
  margin-top: .5rem;
}

@media screen and (min-width: 750px) {
  .login__top {
    height: 200px;
  }

  .login__top h2 {
    font-size: 2rem;
  }

  .login__formContainer {
    padding-top: 2.5rem;
  }
}

@media screen and (min-width: 1080px) {
  .login {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr 100px;

    height: calc(100dvh - 40px);
  }

  .login__top {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    height: 100%;

    border-radius: 0 0 25px 0;
  }

  .login__top h2 {
    top: 5rem;
  }

  .login__formContainer {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    padding-top: 8rem;
  }
  .login__formContainer::before {
    border-radius: 25px 0 0 25px;
  }

  .login__formError {
    position: absolute;
    left: 0;
    right: 0;
    top: 4rem;
  }

  .login__register {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    margin-block: 0;
  }

  .login__register::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    border-radius: 0 35px 0 0;

    background-color: var(--bg-inverse);
  }
}