.weekDays {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 288px;

  margin-top: 1rem;
}

.weekDays p {
  margin-bottom: .2rem;

  color: #6b8272;
}

.weekDays div {
  display: flex;
  justify-content: space-evenly ;
  width: 100%;
}

.weekDays div button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 40px;
  width: 12%;
  aspect-ratio: 1 / 1;

  border-radius: 5px;
  border: none;

  background-color: transparent;

  font-size: .9rem;
  font-weight: 500;

  cursor: pointer;
  user-select: none;
}

.weekDays div button * {
  color: #a4dbb6;
}

.weekDays div button:hover {
  background-color: #2d3a31;
}

.weekDays div button.active {
  background-color: var(--accent-primary);

  font-weight: 600;
}

.weekDays div button.active * {
  color: #060806;
}