.iconPicker {
  position: relative;

  display: grid;
  grid-template-columns: 1fr auto;

  min-width: 288px;

  padding: .5rem;
  border-radius: 10px;

  background-color: #a4dbb6;
}

.iconPicker > p {
  font-size: .9rem;
}

.iconPicker * {
  color: #060806;
}

.iconPicker__toggle,
.iconPicker__toggle button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 1rem;

  font-size: 1.5rem;
}

.iconPicker__toggle button {
  border: none;

  background-color: transparent;
}

.iconPicker__toggle button * {
  color: #4e5f51;
}

.iconPicker__icons {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-items: center;
  align-items: center;

  border-radius: 0 0 10px 10px;
  margin-top: .5rem;
  padding-top: 1rem;

  background-color: #a4dbb6;
}

.iconPicker__icons > button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: .5rem;
  border-radius: 100%;
  border: none;

  background-color: transparent;

  font-size: 1.1rem;

  cursor: pointer;
}
.iconPicker__icons > button.active {
  background-color: var(--accent-primary);
}