.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  bottom: 0;

  width: 100%;
  height: 40px;

  padding: .3rem 1rem;

  background-color: var(--bg-inverse);
}

.footer p small{
  color: var(--text-inverse);
}