.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 40px;

  padding: .3rem 1rem;

  background-color: var(--bg-inverse);
}

.footer p small{
  color: var(--text-inverse);
}

@media screen and (min-width: 1080px) {
  .footer {
    position: relative;
    z-index: 2000;
  }
}