@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-primary: #d0f0b9;
  --bg-secondary: #9ebca8;
  --bg-inverse: #19221c;

  --text-primary: #060806;
  --text-secondary: #333a33;
  --text-muted: #7a977a;
  --text-inverse: #d5f5d5;

  --accent-primary: #15e03b;
  --accent-inverse: #137B27;

  --white-clr: #ececec;
  --black-clr: #1e1e1e;

  --font-heading: "Montserrat";
  --font-body: "Poppins";
}

html,
body,
#root {
  min-height: 100dvh;
  min-width: 100%;
  width: 100%;

  background-color: var(--bg-primary);

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;

  color: var(--text-primary);
  font-family: var(--font-body);
}

a {
  text-decoration: none;
  color: var(--accent-primary);
}

img, picture, video, canvas {
  display: block;

  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 500;
  line-height: 1.1;
  font-size: 1.7rem;
  text-wrap: balance;
}