.reminder {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  position: relative;

  padding: .5rem;
  border-radius: 10px;

  background-color: #a4dbb6;

  font-size: .9rem;
}

.reminder__propToggle {
  position: relative;

  display: flex;

  user-select: none;
}

.reminder__propToggle span {
  padding: .1rem .5rem;

  background-color: #6b8272;

  font-size: .9rem;

  cursor: pointer;
}

.reminder__propToggle span.active {
  background-color: var(--accent-primary);
}

.reminder__propToggle span:first-child {
  border-radius: 5px 0 0 5px;
}

.reminder__propToggle span:last-child {
  border-radius: 0 5px 5px 0;
}

.reminder__propToggle div {
  position: absolute;
  left: 50%;

  height: 100%;
  width: 2px;

  background-color: #2d3a31;
}

.reminder input {
  background-color: transparent;
}

.reminder__values {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: .5rem;

  padding-top: 1rem;

  background-color: inherit;
}

.reminder__values div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reminder__values div:first-child {
  padding-left: 3rem;
}

.reminder__values div:last-child {
  padding-right: 3rem;
}

.reminder__values span {
  font-size: 1.2rem;
  font-weight: 500;
}

.reminder__values div p {
  color: #2d3a31;
}

.reminder__values div input {
  width: 100%;

  border: none;

  background-color: transparent;

  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.reminder__values div input:focus {
  outline: none;
}

.reminder__values span {
  padding-bottom: 5px;
}