.btn {
  box-sizing: border-box;
  display: inline-block;

  min-width: 150px;
  width: 100%;
  max-width: 350px;

  padding: .5rem .8rem;
  border: 2px solid var(--accent-primary);
  border-radius: 8px;

  background-color: var(--accent-primary);

  color: var(--white-clr);
  font-weight: 500;
  text-align: center;
}

.btn:hover {
  filter: brightness(.9);
}

.btn:active {
  filter: brightness(.8);
}

.btn.primary {
  border: 2px solid var(--accent-primary);

  background-color: var(--accent-primary);

  color: var(--white-clr);
}

.btn.ghost-primary {
  border: 2px solid var(--accent-primary);

  background-color: inherit;

  color: var(--accent-primary);
}

.btn.inverse {
  border: 2px solid var(--accent-inverse);

  background-color: var(--accent-inverse);

  color: var(--white-clr);
}

.btn.ghost-inverse {
  border: 2px solid var(--accent-inverse);

  background-color: inherit;

  color: var(--accent-inverse);
}

.btn.disabled {
  cursor: none;
  pointer-events: none;
  filter: brightness(.7);
}

.btn.small {
  padding: .2rem .4rem;
  min-width: 100px;
}
