/* LOGS */
.logs {
  max-width: 1080px;

  padding: 1rem;
  margin-inline: auto;
}

.logs__goBack {
  display: inline-block;

  padding-block: .5rem;
  margin-bottom: 3rem;
}

.logs__goal {
  max-width: 800px;

  margin-inline: auto;
}

.goal__title {
  min-height: 60px;
}

.goal__title p {
  margin-bottom: -.3rem;

  color: var(--text-secondary);
}

.goal__title p.error {
  font-size: .9rem;
  color: rgb(238, 29, 29);
}

.goal__title strong {
  font-size: 1.4rem;
  font-weight: 500;
}

.goal__progress {
  max-width: 350px;

  margin-top: .5rem;
}

.goal__progress>div {
  position: relative;

  border-radius: 5px;

  height: 5px;
  width: 100%;

  background-color: var(--bg-muted);
}

.goal__progress>div span {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  display: inline-block;

  height: 100%;
  max-width: 250px;

  border-radius: 5px;

  background-color: var(--accent-primary);
}

.goal__progress>p {
  display: flex;
  align-items: center;
  gap: .5rem;

  color: var(--text-secondary);
  font-size: .9rem;
}

.goal__progress>p .progress__dot {
  display: block;

  border-radius: 50%;

  height: 6px;
  aspect-ratio: 1 / 1;

  background-color: var(--text-secondary);
}

.goal__progress>p .progress__unitOfMeasure {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

  max-width: 90px;

  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: -.2rem;

  color: var(--text-secondary);
}

.goal__btn {
  margin-top: 1rem;
}

.logs__goal hr {
  margin-bottom: 2rem;
  margin-top: .5rem;
}



/* PROGRESS LOGS */
.logs__msg {
  margin-top: 3rem;

  text-align: center;
}

.logs__msg p {
  margin-bottom: 1rem;

  color: var(--text-secondary);
}

.logs__msg .error {
  color: rgb(238, 29, 29);
}

.logs__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.deleteBtn__root {
  background-color: var(--bg-secondary)!important;
}

.deleteBtn__root h2,
.deleteBtn__root hr,
.deleteBtn__root p {
  color: var(--text-primary)!important;
}

.deleteBtn__confirm {
  background-color: rgb(238, 29, 29);
  border-color: rgb(238, 29, 29);
}

@media screen and (min-width: 750px) {
  .logs__items {
    display: grid;
    grid-template-columns: 1fr 1fr;

    max-width: 700px;

    margin-inline: auto;
  }
}