.spinner {
  height: 40px;
  width: 40px;

  border-radius: 50%;
  border: 4px solid var(--bg-inverse);
  border-top-color: var(--accent-primary);
  margin-inline: auto;
  margin-top: 3rem;

  background-color: transparent;

  animation: spin .6s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}