.targetValue {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  padding: .5rem;
  border-radius: 10px;

  min-width: 288px;

  background-color: #0e2216;
}

.targetValue * {
  color: var(--white-clr);
}

.targetValue>p {
  font-size: .9rem;
}

.targetValue > div:has(.typeToggle__values) {
  grid-column: 1 / -1;
}

.targetValue__propToggle {
  position: relative;

  display: flex;
  align-items: center;

  height: 22px;
  width: 45px;

  padding: .2rem;
  border-radius: 25px;
  border: none;

  background-color: #213120;
}

.targetValue__propToggle div {
  position: absolute;
  left: .2rem;

  display: flex;

  height: 16px;
  aspect-ratio: 1 / 1;

  border-radius: 50px;

  background-color: var(--white-clr);

  transition: transform .1s ease-out;
}

.targetValue__propToggle.active {
  background-color: var(--accent-primary);
}

.targetValue__propToggle.active div {
  transform: translateX(23px);
}

.typeToggle__values {
  display: flex;
  gap: .5rem;

  padding-top: 1rem;

  background-color: inherit;
}

.values__input {
  background-color: #213120;
  border-bottom-color: #213120;
}
.values__input.error {
  border-bottom-color: rgb(236, 30, 30);
}

.typeToggle__values+span {
  grid-column: 1 / -1;
}