.card {
  display: flex;
  align-items: center;
  gap: .5rem;

  height: 150px;
  width: 100%;
}

.card_isReverse {
  flex-direction: row-reverse;
}
.card_isReverse .card__content {
  text-align: right;
}

.card__img {
  flex-shrink: 0;

  width: 80px;
  aspect-ratio: 1 / 1;

  border-radius: 100%;
}

.card__img img {
  width: 100%;
  height: 100%;

  border-radius: 100%;
}

.card__line {
  flex-shrink: 0;

  display: block;

  height: 90%;
  width: 2px;

  background-color: var(--black-clr);
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: .5rem;

  height: 95%;
  max-width: 300px;
}

.card__content strong {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7rem;
}

.card__content p {
  line-height: 1.3rem;
  font-size: .9rem;
}

@media screen and (min-width: 750px) {
  .card__img {
    width: 110px;
  }
}