/* BASE GOAL */
.goal {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  height: 130px;
  min-width: 288px;

  padding: .5rem;
  border-radius: 10px;

  background-color: var(--bg-secondary);
}

.goal__color {
  flex-grow: 1;

  height: calc(100% + 2 * .5rem);
  min-width: 15%;

  margin: -.5rem;
  margin-right: .5rem;
  border-radius: 10px 0 0 10px;

  cursor: pointer;
}

.goal__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: 100%;

  width: 100%;
  max-width: 260px;
  font-size: .95rem;

  cursor: pointer;
}

.content__tag,
.content__deadline,
.content__value div:first-child {
  position: relative;
  white-space: nowrap;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .3rem;

  font-size: .8rem;
  color: var(--text-secondary);
}

.content__tag *,
.content__deadline *,
.content__value div:first-child * {
  color: var(--text-secondary);
}

.content__bottom {
  display: flex;
  align-items: center;
  gap: .5rem;

  margin-top: auto;
}

.content__bottom:has(.content__tag):has(.content__deadline) > span {
  display: block;

  border-radius: 50%;

  height: 6px;
  aspect-ratio: 1 / 1;

  background-color: var(--text-secondary);
}

.content__tag_notDefined {
  font-style: italic;
}

.content__value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .2rem;

}

.content__value div:last-child {
  position: relative;

  border-radius: 5px;

  height: 5px;
  width: 100%;
  max-width: 250px;

  background-color: var(--bg-muted);
}

.content__value div:last-child span {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  display: inline-block;

  height: 100%;
  max-width: 250px;

  border-radius: 5px;

  background-color: var(--accent-primary);
}

.content__title {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  min-height: 25px;

  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
}

.goal__menuToggle {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: .3rem;

  margin-left: .5rem;

  font-size: 1.5rem;

  cursor: pointer;
}



/* COMPLETED goal */
.goal_completed {
  background-color: var(--bg-inverse);
}

.goal_completed .content__deadline *,
.goal_completed .content__tag * {
  color: var(--text-muted);
}

.goal_completed .content__title {
  color: var(--text-inverse);
  text-decoration: line-through;
}

.goal_completed .goal__menu svg * {
  color: var(--accent-primary);
}