.register {
  margin-top: 7rem;
  border-radius: 0 35px 0 0;

  background-color: var(--bg-inverse);

  text-align: center;
}

.register h2 {
  position: relative;
  top: -40px;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.form__btn {
  margin-top: 4rem;
}

.register__login {
  margin-top: 5rem;
  padding-bottom: 2rem;
}

.register__login p {
  color: var(--text-inverse);
  font-size: .9rem;
}

.login__btn {
  margin-top: .5rem;
}

@media screen and (min-width: 750px) {
  .register__form {
    margin-inline: -2rem;
  }
}