/* HERO SECTION */
.hero {
  margin-top: 2rem;
}

.hero h1, .hero h2 {
  max-width: 80%;
}

.hero h2 {
  margin-top: .5rem;

  color: var(--text-secondary);
  font-size: 1rem;
  font-weight: normal;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: .4rem;

  margin-top: 5rem;

  background-color: var(--bg-primary);

  text-align: center;
}

.heroImg {
  margin-top: 3rem;

  width: 100%;
}

/* FEATURES SECTION*/
.features {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin-top: 10rem;
}

/* CTA SECTION */
.cta {
  margin: -1rem;
  margin-top: 5rem;
  padding: 1rem;
  padding-top: 5rem;

  background-color: var(--bg-inverse);

  text-align: center;
}

.cta * {
  color: var(--text-inverse);
}

.cta h2 {
  font-size: 2rem;
  font-weight: 500;
}

.cta p {
  margin-top: 1rem;

  font-size: 1rem;
  color: var(--text-muted);
}

.cta__btn {
  margin-block: 10rem 5rem;
}