/* HERO SECTION */
.hero {
  position: relative;

  width: 100%;
  padding-top: 5rem;

  background-color: var(--accent-inverse);

  text-align: center;
}

.hero__main {
  padding-inline: 1rem;
}

.hero__main h1,
.hero__main h2 {
  width: 100%;
  max-width: 350px;

  margin-inline: auto;
  color: var(--white-clr);
}

.hero__main h1 {
  font-weight: 600;
}

.hero__main h2 {
  margin-top: .5rem;

  color: #ececec;
  font-size: 1rem;
  font-weight: normal;
}

.hero__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;

  background-color: var(--accent-inverse);

  text-align: center;
}

.hero__img {
  display: none;
}

.hero__testimonials {
  margin-top: 6rem;
  padding-top: 2rem;
  padding-inline: 1rem;

  background-color: var(--bg-primary);

  text-align: center;
}

.testimonials__msg {
  position: relative;
  z-index: 1;

  display: block;

  width: 100%;

  padding: .5rem;
  border-radius: 10px;

  background-color: var(--accent-primary);

  text-transform: uppercase;
  font-weight: 600;
  color: #555;
  font-size: 1.2rem;
}

.testimonials__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: 100%;

  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .hero {
    min-height: 450px;

    text-align: left;
  }

  .hero h1,
  .hero h2 {
    width: 45%;
    max-width: 500px;

    margin-inline: 0;
  }

  .hero__main {
    padding-inline: 2rem;
  }

  .hero__btns {
    align-items: flex-start;

    min-width: 300px;

    margin-top: 2rem;
    margin-inline: 0;
  }

  .hero__img {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: absolute;
    right: 2rem;
    top: 2rem;

    width: 45%;
    max-width: 450px;
    height: 431px;
  }

  .hero__img img {
    width: 80%;
  }

  .hero__testimonials {
    padding-inline: 2rem;
  }

  .testimonials__items {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .testimonials__items :nth-child(3) {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .hero__main {
    min-height: 500px;

    padding-inline: 5rem;
  }

  .hero__img {
    right: 5rem;
    justify-content: flex-start;
  }

  .testimonials__items :nth-child(3) {
    display: flex;
  }
}



/* FEATURES SECTION*/
.features {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  max-width: 850px;

  margin-top: 10rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

@media screen and (min-width: 750px) {
  .features {
    padding-inline: 2rem;

  }
}



/* CTA SECTION */
.cta {
  margin-top: 5rem;
  padding: 1rem;
  padding-top: 5rem;

  background-color: var(--bg-inverse);
}

.cta__content * {
  text-align: center;
}

.cta__content h2 {
  max-width: 500px;
  margin-inline: auto;

  font-size: 2rem;
  font-weight: 500;
  color: var(--text-inverse);

}

.cta__content p {
  max-width: 400px;

  margin-top: 1rem;
  margin-inline: auto;

  font-size: 1rem;
  color: var(--text-muted);
}

.cta__btn {
  margin-block: 10rem 5rem;

  text-align: center;
}

.cta__img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .cta {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    min-height: 700px;

    padding: 4rem 2rem;
  }

  .cta__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 0rem;

    height: 400px;
  }

  .cta__text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .cta__text h2,
  .cta__text p {
    margin-inline: 0;
    text-align: right;
  }

  .cta__btn {
    margin-top: 5rem;
    margin-bottom: 0;
  }

  .cta__img {
    display: block;

    width: 500px;
    height: 400px;
  }
}