.progressImpact {
  position: relative;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  min-width: 288px;


  padding: .5rem;
  border-radius: 10px;

  background-color: #0e2216;

  font-size: .9rem;
}

.progressImpact * {
  color: var(--white-clr);
}

.progressImpact>p {
  display: flex;
  align-items: center;
  gap: .1rem;

  font-size: .9rem;
}

.progressImpact > p > span {
  height: 16px;
  width: 16px;

  margin-right: .2rem;
}

.progressImpact > p svg {
  font-size: 1rem;

  cursor: help;
}

.progressImpact>div:has(.progressImpact__values) {
  grid-column: 1 / -1;
}

.progressImpact__propToggle {
  position: relative;

  display: flex;
  align-items: center;

  height: 22px;
  width: 45px;

  padding: .2rem;
  border-radius: 25px;
  border: none;

  background-color: #213120;
}

.progressImpact__propToggle div {
  position: absolute;
  left: .2rem;

  display: flex;

  height: 16px;
  aspect-ratio: 1 / 1;

  border-radius: 50px;

  background-color: var(--white-clr);

  transition: transform .1s ease-out;
}

.progressImpact__propToggle.active {
  background-color: var(--accent-primary);
}

.progressImpact__propToggle.active div {
  transform: translateX(23px);
}

.progressImpact__values {
  display: flex;
  gap: .5rem;

  padding-top: 1rem;

  background-color: inherit;
}

.values__input {
  background-color: #213120;
  border-bottom-color: #213120;
}
.values__input.error {
  border-bottom-color: rgb(236, 30, 30);
}

.typeToggle__values+span {
  grid-column: 1 / -1;
}