/* SHARED */
.l_menubar__goBack {
  width: fit-content;

  margin-bottom: 3rem;
}

.l_menubar__list {
  list-style: none;

  padding: .5rem;
  border-radius: 10px;

  background-color: var(--bg-muted);
}

.l_menubar__list>li {
  position: relative;

  padding: .4rem;
  border-bottom: 2px solid var(--text-primary);

  cursor: pointer;
}

.l_menubar__list>li>a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  font-size: 1rem;
}

.l_menubar__list>li>a>span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .3rem;
}

.l_menubar__list>li svg {
  font-size: 1.3rem;
}

.l_menubar__list>li:last-child {
  border-bottom: none;
}

.l_menubar__list>li * {
  color: var(--text-primary);
}



/* MENUBAR */
.menubar {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 45px;

  padding: .3rem;

  background-color: var(--bg-inverse);
}

.menubar>button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  padding: .2rem;

  background-color: transparent;

  cursor: pointer;
}

.menubar>button * {
  font-size: 2rem;
  color: var(--white-clr);
}

._menubar__shadow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1999;

  background-color: rgba(0, 0, 0, 0.616);
  user-select: none;
}

@media screen and (min-width: 1080px) {
  .menubar {
    justify-content: flex-end;
  }

  .menubar>button:first-child {
    display: none;
  }

  ._menubar__shadow {
    display: none;
  }

  .menubar:has(aside)~._menubar__shadow {
    display: block;
  }
}



/* NAVIGATION */
.navigation {
  display: none;

  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2000;

  width: 100%;
  max-width: 400px;

  padding: 1rem;

  background-color: var(--bg-primary);
}

.navigation.open {
  display: block;
}

.navigation>section {
  margin-bottom: 1.5rem;
}

.navigation>section>h3 {
  margin-bottom: .5rem;
}

@media screen and (min-width: 1080px) {
  .navigation {
    display: block;
    z-index: 0;

    max-width: 300px;

    border-right: 2px solid var(--text-secondary);
    padding-top: 45px;

    background-color: var(--bg-primary);

    font-size: .9rem;
  }

  .navigation .l_menubar__goBack {
    display: none;
  }
}
