.loadingOverlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5000;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 300px;
  height: fit-content;

  margin: auto;
  border-radius: 10px;
  padding: 1rem;

  background-color: var(--bg-secondary);
}

.loadingOverlay * {
  color: var(--text-primary);
}

.loadingOverlay p {
  text-align: center;
}

._backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4999;

  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.6);
}