/* HEADER PART */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8rem;

  height: 130px;

  padding: .5rem;

  background-color: var(--bg-muted);
}

.header span {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.header * {
  color: var(--text-secondary);
}

.header span svg {
  font-size: 1.3rem;
}

.header__filters {
  display: flex;
  overflow-x: auto;
  gap: .5rem;
  scrollbar-width: none;

  max-width: 100%;
  min-width: 100%;
}

.header__filters::-webkit-scrollbar {
  display: none;
}

.header__filters button {
  display: inline-block;
  flex-shrink: 0;

  padding: .1rem .5rem;
  border-radius: 10px;
  border: 2px solid var(--accent-inverse);

  background-color: transparent;

  white-space: nowrap;
  color: var(--accent-inverse);
  font-weight: 500;
}

.header__filters button.active {
  border-color: var(--accent-primary);

  background-color: var(--accent-primary);

  color: var(--text-primary);
}

@media screen and (min-width: 750px) {
  .header>* {
    max-width: 700px;

    margin-inline: auto;
  }
}

@media screen and (min-width: 1080px) {
  .goalsView {
    display: grid;
    grid-template-columns: 200px 1fr;

    min-height: calc(100dvh - 34.6px - 45px - 44px);
  }

  .header {
    height: 100%;
  }

  .header__filters {
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }
}



/* GOALS PART */
.goals__completed,
.goals__uncompleted {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  padding: 1rem;
}

.goals__completed {
  padding-bottom: 0;
}

.goals__uncompleted:has(div) {
  padding-top: calc(1rem + 2px);
  border-top: 2px solid var(--text-primary);
  margin-top: 1rem;
}

.goals_loadingOrFetched {
  max-width: 350px;

  margin-inline: auto;
  margin-top: 1rem;
  padding: 1rem;

  text-align: center;
}

@media screen and (min-width: 750px) {

  .goals__completed,
  .goals__uncompleted {
    display: grid;
    grid-template-columns: 1fr 1fr;

    max-width: 700px;

    margin-inline: auto;
  }
}

@media screen and (min-width: 1080px) {

  .goals__completed,
  .goals__uncompleted {
    max-width: 800px;
  }
}